body
{
    font-family: Arial;
    font-size: 10pt;
}

h1
{
    font-size: 20pt;
    text-align: center;
    margin-bottom: 0px;
}

h1 > img
{
    vertical-align: text-bottom;
    width: 30px;
    height: 30px;
}

p
{
    text-align: center;
    margin-top: 0px;
}

button
{
    min-width: 25px;
}